@keyframes redblack {
  0%   {background-color:red;}
  50%	{background-color:black;}
  100% {background-color:red;}
}

@keyframes blackred_border {
  0%   {border-color:black;}
  50%	{border-color:red;}
  100% {border-color:black;}
}

@keyframes redblack_line{
  0%   {border-left-color:red;}
  50%	{border-left-color:black;}
  100% {border-left-color:red;}

}

body {
	background-color: red;
	animation: redblack 3s ease infinite;
	font-family: "Courier New";
	padding: 25px 50px;
}

p {
	color: black;
}

#info1 {
	float: left;
	vertical-align: top;
	width: 40%;
	height: 40%;
	margin: 1%;
}

#info2{
	float: right;
	vertical-align: bottom;
	width: 40%;
	height: 40%;
	margin: 1%;
}

#img1{
	float: right;
	vertical-align: top;
	width: 40%;
	height: 40%;
	object-fit: cover;
	margin: 1%;
}

#img2{
	position: relative;
	bottom: 7%;
	float: left;
	vertical-align: bottom;
	width: 40%;
	height: 40%;
	object-fit: cover;
	margin: 1%;

}

.vl {
  border-left: 18px solid red;
  animation: redblack_line 3s ease infinite;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 28%;
  margin-top: -3px;
}

#title {
	text-align: center;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}





#bigdiv {
	vertical-align: middle;
	border: solid 15px;
	animation: blackred_border 3s ease infinite;
	background-color: white;
	vertical-align: middle;
	height: 96%;
	 margin: 0 auto;
}

#bigdiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DBDCCB;
}

#bigdiv li {
  float: left;
  display: inline;
}

#bigdiv li a {
  display: block;
  color: #424F40;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#bigdiv li a:hover {
	background-color: #E3F4F4;
}
